/*
// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

 Author:  Mark Johnson <mark.johnson@tauntons.ac.uk>
Copyright  2011 Tauntons College, UK
Licence:  http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

#block_courseappointments_calendarcontainer {
    font-size: 9pt;
    position: absolute;
}

.yui-skin-sam .yui-calcontainer .title {
	background:url(../../lib/yui/assets/skins/sam/sprite.png) repeat-x 0 0;
}

.yui-skin-sam .yui-calcontainer .calclose {
	background:url(../../lib/yui/assets/skins/sam/sprite.png) no-repeat 0 -300px;
}

/* NAVBAR LEFT ARROW */
.yui-skin-sam .yui-calendar .calnavleft {
	background:url(../../lib/yui/assets/skins/sam/sprite.png) no-repeat 0 -450px;
}

/* NAVBAR RIGHT ARROW */
.yui-skin-sam .yui-calendar .calnavright {
	background:url(../../lib/yui/assets/skins/sam/sprite.png) no-repeat 0 -500px;
}

#block_courseappointments_appointmentdate {
    width: 50%;
}

.block_course_appointments button  {
    padding:0px;
}

.block_course_appointments .errors {
    color: #f33;
}
